<h2>Welcome</h2>

<h4>Shelves</h4>
<% @shelves.each do |shelf| %> 
	<i class="fa fa-book"></i>
	<%= link_to shelf.shelf_name, shelf_path(shelf) %><br>
<% end %><br>

<button>
<%= link_to "Add Shelf", new_shelf_path %>
</button>