<h2>All Books</h2>

<% @books.each do |book| %> 
	<i class="fa fa-book"></i>
	<%= link_to book.book_name, book_path(book) %><br>
<% end %><br>

<button>
<%= link_to "Add Book", new_book_path %>
</button>

<button>
<%= link_to "Go Back", root_path %>
</button>